@using technicalChallenge.Controllers;
@using technicalChallenge.Models;
@{
    ViewBag.Title = "Validar Nombre";
}
@model  NameModel
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("ValidateName", "Home", FormMethod.Post))
{
    <div class="panel-body">
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.NameText, "Nombre")
                    @Html.TextBoxFor(model => model.NameText, new { @class = "form-control" }) <h3>@ViewBag.Message</h3>
                </div>
            </div>
        </div>

        <div class="submit-section">
            <input class="btn btn-primary" type="submit" value="Validar">
        </div>
    </div>
}