@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafío Técnico</h1>
    <h2 class="display-4">Programadores Full Stack</h2>
    <h3 class="display-4">Descripción</h3>
    <p>El siguiente es un desafío que tiene como objetivo captar los conocimientos y habilidades del postulado. Se tiene 3 días corrido para resolver el desafío y se cuenta desde el envío de el mismo.</p>
</div>
